
.homeBanner {
  width: 100%;
  height: 60vh;
  z-index: 10px;
}

.swiper-slide {
  font-size: 18px;
  

  
}

@media screen and (max-width:900px){
  .homeBanner {
  height: 30vh;
}
}
@media screen and (max-width:600px){
  .homeBanner {
  height: 40vh;
}
}

