@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Maven+Pro:wght@700&family=Merriweather&family=Roboto+Slab:wght@700&family=Ubuntu:wght@700&display=swap');


p{
font-family: 'Merriweather', serif;

}
h1{
   font-family: 'Maven Pro', sans-serif; 
}
h2{
    font-family: 'Roboto Slab', serif;
}
h3{
    font-family: 'Lily Script One', cursive;
}
h4{
font-family: 'Ubuntu', sans-serif;

}
.divaidar{
    margin-top: 2px;
    width: 100px;
    height: 5px;
    background-color: #f1ac06;
}